body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-attachment: fixed;
  background-image: linear-gradient(to right bottom, #3747ce, #0068e0, #0084ea, #009dec, #00b4eb, #03c2ec, #29cfeb, #49dbe8, #47e3e8, #4aece6, #52f3e2, #5ffbdd);
  background-size: 100%;
  caret-color: transparent;
}
header {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.divPage {
  display: flex;
}
/* SearchBar */
.center {
  display: flex;
  justify-content: center;
}
.divSearchBar {
  display: flex;
  justify-content: center;
  width: 50vw;
}
#searchBar { 
  width: 100%;
  margin-right: auto;
  
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #212529;
  background-clip: padding-box;
  border: 1px solid #ced4da;

  border-radius: 0.8rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#searchBar:focus {
  color: #ffffff;
  border-color: #5cb3fd;
  outline: none;
}
#searchType {
  background-color: #212529;
  color: #fff;
  border-radius: 0;
}
#searchType:focus {
  color: #ffffff;
  border-color: #5cb3fd;
  outline: none;
}
#btnSubmit {
  background-color: #212529;
  color: #0d6efd;
  outline: none;

  border: 1px solid #ced4da;
  border-radius: 0.8rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  padding-right: 12px;
  padding-left: 12px;
}
.select {
  display: block;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.select::after
{
  display: block;
  clear: both;
  content: "";
}

/* */
.container-flex {
  display: flex;
  justify-content: center;
}
#previous, #next {
  cursor: pointer;
  font-size: 3rem;
}
#previous :hover, #next :hover {
  color: #212529;
}
.users {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
}
.users div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  text-align: center;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.5rem;
}
.card-image-top {
  border-top-left-radius: calc(0.5rem - 1px);
  border-top-right-radius: calc(0.5rem - 1px);
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bg-dark {
  color: #fff;
  background-color: #212529;;
}

.d-none {
  display: none;
}

.truncate {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
  padding-right: 10px;
}