body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-attachment: fixed;
  background-image: linear-gradient(to right bottom, #3747ce, #0068e0, #0084ea, #009dec, #00b4eb, #03c2ec, #29cfeb, #49dbe8, #47e3e8, #4aece6, #52f3e2, #5ffbdd);
  background-size: 100%;
  caret-color: transparent;

  font-family: 'Lato', sans-serif;
  /* font-family: 'Get Schwifty'; */
  font-weight: normal;
  font-style: normal;
  height: 100%;
}
/* @font-face {
  font-family: 'Get Schwifty';
  src: url('./style/police/GetSchwifty-Regular.woff') format('woff'),
       url('./style/police/get_schwifty.ttf') format('truetype');
} */
/* ---------------- NavBar ---------------- */
.divNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  margin-bottom: 2rem;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 12px;
}
.divLinks > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.divLinks > ul > li {
  float: left;
}
.divLinks > ul > li a {
  display: block;
  color: rgba(255,255,255,.5);;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.divLinks > ul > li a:hover {
  cursor: pointer;
  color: rgba(255,255,255,.75);
}
/* ---------------- SearchBar ---------------- */
.center {
  display: flex;
  justify-content: center;
}
.divSearchBar {
  display: flex;
  justify-content: center;
  width: 30rem;
  margin-right: 10px;
}
.custom-select {
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid rgba(255,255,255,.5);
}
#searchBar { 
  width: 100%;
  margin-right: auto;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid rgba(255,255,255,.5);
  
  border-radius: 2rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#searchBar:focus {
  color: #ffffff;
  border-color: #5cb3fd;
  outline: none;
}
#searchBar:hover {
  color: #ffffff;
  background-color: #1D1D1D;
  outline: none;
}
#searchType {
  background-color: #212529;
  color: #fff;
  border-radius: 0;
}
#searchType:focus {
  color: #ffffff;
  border-color: #5cb3fd;
  outline: none;
}
#searchType:hover {
  color: #ffffff;
  background-color: #1D1D1D;
  outline: none;
}
#btnSubmit {
  background-color: #212529;
  color: #0d6efd;
  outline: none;

  border: 1px solid rgba(255,255,255,.5);
  border-radius: 2rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  padding-right: 14px;
  padding-left: 12px;
}
#btnSubmit:hover {
  color: #2477f3;
  background-color: #1D1D1D;
  outline: none;
}
.select {
  display: block;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-right: 0;
  border-left: 0;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.select::after
{
  display: block;
  clear: both;
  content: "";
}

.divPage, .divSeason {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1;
}
#select-page {
  width: 5vh;
  height: 5vh;
  border-radius: 100%;
  text-align: center;
  font-size: larger;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-saison {
  width: 7vh !important;
  border-radius: 2vh !important;
}

/* */
.container-personnage {
  display: flex;
  flex-direction: column;
}
.container-flex {
  display: flex;
  justify-content: center;
}
.previous, .next {
  cursor: pointer;
  font-size: 3rem;
}
.previous :hover, .next :hover {
  color: #212529;
}
.users {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
}
.users div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  text-align: center;
}
.card {
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.5rem;
}
.cardPerso {
  width: auto;
  height: 250px;
  border-radius: 2rem;
}
.card-img {
  max-height: 300px;
}
.card-img > img{
  width: 250px;
  height: auto;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.card-body {
  width: auto;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: #212529;
  color: #fff;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.card-body > ul {
  padding-left: 2rem;
}
.direction-row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.card-image-top {
  border-top-left-radius: calc(0.5rem - 1px);
  border-top-right-radius: calc(0.5rem - 1px);
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bg-dark {
  color: #fff;
  background-color: #212529;;
}
.d-none {
  display: none;
}
.titreAccueil {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.truncate {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
  padding-right: 10px;
}
.listEpisodes {
  margin-top: 2rem;
  padding: 15px;
  border-radius: 1.2rem;
  background-color: #212529;
  color: #fff;
}
.retour {
  width: fit-content;
}

.previous {
  position: fixed;
  top: 50%;
  left: 0;
  margin-left: 10px;
}

.next{
  position: fixed;
  top: 50%;
  right: 0;
  margin-right: 10px;
}

.pointer {
  cursor: pointer;
}

/* ---------------- SCROLLBAR ---------------- */
::-webkit-scrollbar {
  width: 17px;
  padding: 0;
  margin: 0;
  background-color: rgba(34, 37, 38, 1);
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(72, 78, 81, 1);
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(91, 98, 101);
}
/* Mozilla Firefox */
html {
  scrollbar-color: rgba(34, 37, 38, 1) rgba(72, 78, 81, 1);
  height: 100%;
}
/* ---------------- SWEET ALERT ---------------- */
.swal2-popup {
  color: rgba(255,255,255,.75) !important;
  background-color: #212529 !important;
}

/* ---------------- BUTTON ----------------*/
.retour {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  position: fixed;
  left: 10px;
  backdrop-filter: blur(20px);
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color .3s, background-color .3s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  font-weight: 700;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.retour:hover,
.retour:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  background-color: var(--color);
  color: #fff;
}

.retour:active {
  background: var(--color);
  color: #fff;
}